<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/CSS/Dashboard.css}">
	<link rel="stylesheet" th:href='@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href='@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}'>
	<script th:src="@{https://kit.fontawesome.com/853be5df50.js}"></script>
	<script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js}"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js}"></script>
    <title>BloodBank Dashboard</title>
</head>
<body>
	<div class="sidebar">		
		<ul class="nav-links">
			<li>
				<a href="#" class="active"> <em class='bx bx-grid-alt'></em><span>Dashboard </span></a>
			</li>
			<li>
				<a th:href="@{/BloodBankProfile}"> <em class="fa-solid fa-address-card"></em><span class="links_name">My Profile</span></a>
			</li>
			<li>
				<a th:href="@{/SelectedDonor}"> <em class="fa-solid fa-user"></em><span class="links_name">Donor</span></a>
			</li>
			<li>
				<a th:href="@{/DonorRegisterPage}"> <em class='fa fa-users'></em><span class="links_name">Add Donor</span></a>
			</li>
			<li>
				<a th:href="@{/SelectedHospital}"> <em class="fa-solid fa-hospital"></em><span class="links_name">Hospital</span></a>
			</li>
			<li>
				<a th:href="@{/SelectedSeeker}"> <em class="fa-solid fa-user"></em><span class="links_name">Seeker</span></a>
			</li>
			<li>
				<a th:href="@{/ViewRequest}"> <em class="fa-solid fa-repeat"></em><span class="links_name">Blood Request</span></a>
			</li>
			<li>
				<a th:href="@{/SelectedBloodRequest}"> <em class="fa-solid fa-clock-rotate-left"></em><span class="links_name">Request History</span></a>
			</li>
			<li>
				<a th:href="@{/SelectedStockList}"> <em class="fa-solid fa-hand-holding-droplet"></em><span class="links_name">Blood Stock</span></a>
			</li>
			<li>
				<a th:href="@{/}"> <em class='fa fa-sign-out'></em><span class="links_name">Logout</span></a>
			</li>
		</ul>
	</div>
    <section class="home-section">
    <nav>
    	<div class="logo">
				<img th:src="@{/Images/logo.png}" alt="logo">
			</div>
    	<div class="title">
			<h2>
				Global<br><span>Blood Centre</span>
			</h2>
		</div>
      	<div class="profile-details">
       		<div class="session">
       			<p th:text="${session.BloodBankName}"></p>
       		</div>
        </div>
    </nav>
    
    <div id="main">   
        <div class="clearfix"></div>
        <div class="col-div-3">
            <div class="box">
            	<span>Total Request</span>
                <p class="counter" th:text="${session.TotalHistoryCount}"></p>
				<em class="fa-solid fa-repeat box-icon" style="color: blue;"></em>            
			</div>
        </div>
        <div class="col-div-3">
            <div class="box">
            	<span>Approve Request</span>
                <p class="counter" th:text="${session.ApproveCount}"></p>
                <em class="fa-sharp fa-regular fa-circle-check box-icon" style="color: green;"></em>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
            	<span>Reject Request</span>
                <p class="counter" th:text="${session.RejectCount}"></p>
               <em class="fa-sharp fa-regular fa-circle-xmark box-icon" style="color: red"></em>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
            	<span>Pending Request</span>
                <p class="counter" th:text="${session.PendingCount}"></p>
                <em class="fa-solid fa-spinner box-icon" style="color: yellow;"></em>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
            	<span>Total Donors</span>
                <p class="counter" th:text="${session.SelectedCount}"></p>
				<em class="fa-solid fa-user box-icon" style="color: fuchsia;"></em>           
		    </div>
        </div>
    </div>
   </section>
   <script type="text/javascript" th:src="@{/JavaScript/AutoCount.js}"></script>
</body>
</html>