<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Forgot Password</title>
<link rel="stylesheet" th:href="@{/CSS/ForgotPassword.css}">
</head>
<body>
<div class="forgotimage">
		<img alt="forgotimage" th:src="@{/Images/forgotimage.jpg}">
</div>
<form id="forgot" onsubmit="forgotPassword()" th:action="@{/DonorUpdatePassword}" th:object="${donorForgotPassword}">
	<div class="pass">
	<h2 style="text-align: center">Reset Password</h2>
	<div id="errorMessage"></div>

	<label>Enter Username:</label><br>
	<br> 
	<input type="text" name="donorUserName" th:field="*{donorUserName}" placeholder="Enter username" required><br>
	<br>

	<label>Create New Password:</label><br>
	<br>
	<input type="password" name="donorPassword" id="password" th:field="*{donorPassword}" placeholder="Enter New Password" required><br>
	<br>

	<label>Confirm Password:</label><br>
	<br>
	<input type="password" name="donorPassword1" id="password1" placeholder="Enter Confirm Password" required><br>
	<br>

	<div class="button1">
	<button type="button" value="Back" onclick="history.go(-1);">Go Back</button>
	<button type="submit">Update</button>
	</div>
	</div>
</form>
<script th:src="@{/JavaScript/ForgotPassword.js}"></script>
</body>
</html>

