@charset "ISO-8859-1";

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	font-family: sans-serif;
	height: 0%;
}

.menubar {
	background: hsl(78, 57%, 95%);
	text-align: center;
	padding-left: 100%;
	float: right;
}

.menubar ul {
	display: inline-flex;
	list-style: none;
	color: #fff;
}

.menubar ul li {
	width: 100px;
	margin: 20px;
	padding: 15px;
}

.menubar ul li a {
	text-decoration: none;
	color: #000;
	float: right;
}

.menubar .fa {
	margin-right: 8px;
}

.logo img {
	float: left;
	width: 80px;
	height: 75px;
	margin-top: 9px;
	margin-left: -980px;
}

.title {
	float: left;
	position: absolute;
	top: 7.5%;
	left: 14%;
	transform: translate(-50%, -50%);
}

.title h2 {
	color: red;
	font-size: 25px;
}

span {
	color: #000;
	font-size: 25px;
}